.card{
    background-color: transparent;
    margin-bottom: 2em;
    border: .1em #EADCBD solid;
    border-radius: 1em;
    width: 24em;
    color: #fff;
}
.img{
    height: 15em;
    padding: .6em;
    border-radius: 1em;
    object-fit: cover;
}

.btn{
    padding: .5em;
    border: .1em #EADCBD solid;
    border-radius: .5em;
    background-color: transparent;
    color: #fff;
}
