.card{
    padding: auto;
    background-color: transparent;
    margin-bottom: 2em;
    border: .1em #EADCBD solid;
    border-radius: 1em;
    width: 22em;
    color: #fff;
}
.img{
    height: 17em;
    padding: .6em;
    border-radius: 1em;
}
