.productsList{
    margin: 2em;
}
.count{
    position: absolute; 
  background-color: transparent; 
  color: #ffffff;
  font-size: 12px; 
  border-radius: 50%; 
  padding: 4px 6px;
  margin: -2.5em 0em 5em 2em;
  font-family: bubble;
}